{% extends 'board/base.html' %}

{% block main %}
    <!-- banner section start -->
    <div class="banner_section">
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <div class="contact_bg">
                        <div class="container">
                            <h2 class="request_text">Add a city to create a new weather board</h2>
                            <form action="{% url 'new_board' %}" method="POST" id="form_add_city">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="email-bt" placeholder="City" id="input_primeira_cidade" name="city">
                                </div>
                            </form>
                        </div> 
                        <button class="send_bt" form="form_add_city">Add city</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner section end -->
{% endblock main %}